/* .#d44a0c #2e6da4*/
.pt-1 {
  padding-top: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.mt-1{
  margin-top: 0.5rem;
}

.mt-2{
  margin-top: 1rem;
}

.btn-primary-outline {
    background: transparent;
    color: #2e6da4;
}

.btn-primary-2 {
  background: #d44a0c;
  border: 1px solid #d44a0c;
}

.btn-primary-2-outlet{
  background: transparent;
  color: #d44a0c;
}

.btn-flat{
  border-radius: 0px;
}

.btn-join {
  float: right;
  margin-top: -10px;
  width: 100px;
  position: relative;
  top: 5px;
}

.our-recent-post-wrap{
  max-height: 730px;
  overflow-y: auto;
}

/* width */
.our-recent-post-wrap::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.our-recent-post-wrap::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.our-recent-post-wrap::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199); 
}

/* Handle on hover */
.our-recent-post-wrap::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.single-recent-post {
  padding-bottom: 12px;
  /* margin-top: 12px !important; */
  margin-bottom: 12px !important;
  border-bottom: 1px solid #ececec;
}

.single-recent-post.first{
  margin-top: 0px;
}

.recent-post-dtl .title{
  font-size: 20px;
  font-weight: 500;
  color: #555555;
}

.recent-post-dtl .price {
  text-align: right;
  float: right;
  background: #2e6da4;
  opacity: 0.9;
  color: white;
  padding: 0px 10px;
  font-size: 10px;
  top: -2px;
}

.recent-post-time {
  float: left;
}
.recent-post-time .star{
  color: orange;
  font-size: 15px;
}

.recent-post-time p.separator {
  margin: 0 4px;
  color: #c7c7c7;
}

.recent-post-dtl b {
  font-weight: 450;
}


.our-blog-tag .btn{
  width: 100%;
  font-weight: 500;
}


.recent-thumb a img {
  width: 200px;
  height: 120px;
  max-width: unset;
}

.select-lang {
  width: 150px;
  float: right;
  margin-right: 20px;
  color: #d44a0c;
  border: 1px solid #d6d6d6;
  height: 30px;
}

.tag-menu li a:hover {
  background: transparent;
  border: 1px solid #2e6da4;
  color: #2e6da4;
}

select.select-lang {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 7rem;;
  padding-left: 10px;
  padding-right: 2rem;
}

.select-filter{
  z-index: 111;
  position: inherit;
  border: none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: transparent;
}

.select-filter-icon {
  position: relative;
  top: -25px;
  z-index: 1111;
}

a.active {
  border-bottom: 1px solid #d44a0c;
  color: #d44a0c;
}


.badge-tranding{
  font-size: 9px;
  padding: 3px 5px;
  border-radius: 2px;
  position: relative;
  background: #2e6da4;
  position: absolute;
  z-index: 1;
  margin-right: 10px;
  margin-left: -12px;
  margin-top: -5px;
}

.ptb--130 {
  padding: 90px 0;
}

.header--3 .mainmenu__area {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 25%);
}

.text-head {
  text-align: center;
}

.text-head h1{
  font-size: 30px;
  color: rgb(245, 244, 244) !important;
  position: relative;
  top: -25px;
}

.text-head h2{
  font-size: 20px;
  color: rgb(245, 244, 244) !important;
}

.gray-bg {
  background-color: #fbfbfb;
}

.area {
  padding: 15px 0px;
}

.area .head h2{
  font-size: 25px;
}

.section-title-2 {
  text-transform:none;
}

.our-recent-post-wrap {
  margin-top: 0px;
}

.single-recent-post {
  margin-bottom: 23px;
  margin-top: 0px;
}

.htc__login__register__wrap {
  max-width: 600px;
  background: white;
  padding: 20px 40px;
  border-radius: 4px;
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.htc__login__btn a {
  line-height: 36px;
  text-transform: none !important;
  color: #d44a0c;
  border: 1px solid #d44a0c;
  width: 100%;
}

.product-categories-title > h3 {
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  font-size: 16px;
  padding: 10px;
  text-transform: none;
}

#register>h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 22px;
}

.htc__soaial__list li a {
  width: auto;
  padding: 0px 15px;
  color: white;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

footer{
  position: unset !important;
}

.fixed__footer{
  margin-bottom: 0px !important;
}

.footer__container{
  padding-top: 40px;
  padding-bottom: 25px;
}

.htc__copyright__area{
  padding-bottom: 40px;
}